# ¬°Hola Elpidio! üòä

Mi nombre es **Alejandro Castellanos** y hoy tengo el placer de ser el revisor de tu proyecto.

Voy a revisar todo tu c√≥digo con detalle, buscando tanto los puntos fuertes como aquellos en los que podr√≠as mejorar. Te dejar√© comentarios a lo largo del notebook, destacando lo que has hecho bien y sugiriendo ajustes donde sea necesario. Si encuentro alg√∫n error, no te preocupes, te lo har√© saber de forma clara y te dar√© informaci√≥n √∫til para que puedas corregirlo en la pr√≥xima. Si en alg√∫n punto tienes comentarios, si√©ntete libre de dejarlos tambi√©n.


Encontrar√°s mis comentarios espec√≠ficos dentro de cajas verdes, amarillas o rojas, es muy importante que no muevas, modifiques o borres mis comentarios, con el fin de tener un seguimiento adecuado de tu proceso.:


<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class=‚ÄútocSkip‚Äù></a>
Si todo est√° perfecto.
</div>

<div class="alert alert-block alert-warning">
<b>Comentario del revisor</b> <a class=‚ÄútocSkip‚Äù></a>
Si tu c√≥digo est√° bien pero se puede mejorar o hay alg√∫n detalle que le hace falta.
</div>

<div class="alert alert-block alert-danger">
<b>Comentario del revisor</b> <a class=‚ÄútocSkip‚Äù></a>
Si de pronto hace falta algo o existe alg√∫n problema con tu c√≥digo o conclusiones.
</div>

Puedes responderme de esta forma:
<div class="alert alert-block alert-info">
<b>Respuesta del estudiante</b> <a class=‚ÄútocSkip‚Äù></a>
</div>

A continuaci√≥n te dejar√© un comentario general con mi valoraci√≥n del proyecto. **¬°Mi objetivo es que sigas aprendiendo y mejorando con cada paso!**

---

<div class="alert alert-block alert-success">
<b>Comentario General del revisor (1ra Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

Elpidio has cumplido de manera sobresaliente con todos los objetivos propuestos. Tienes un muy buen dominio de SQL, evidenciando un manejo que va m√°s all√° de las cl√°usulas b√°sicas, integrando subtablas y t√©cnicas avanzadas de agrupamiento de datos. Asimismo, hiciste un excelente trabajo en tu an√°lisis de la informaci√≥n obtenida. Has presentado interpretaciones claras y bien fundamentadas que transforman el c√≥digo en una herramienta real para la toma de decisiones. Incluir estos an√°lisis es clave, ya que no solo muestra habilidades t√©cnicas, sino tambi√©n la capacidad de extraer valor de los datos y comunicar insights de manera efectiva. Esto no solo refleja un conocimiento t√©cnico s√≥lido, sino tambi√©n una madurez anal√≠tica que ser√° fundamental en tu desarrollo profesional como analista de datos. √âxitos en tu pr√≥ximo Sprint üöÄ
    
*Estado del Proyecto:* **Aprobado**

</div>

----

# **SQL**

El coronavirus tom√≥ al mundo entero por sorpresa, cambiando la rutina diaria de todos y todas. Los habitantes de las ciudades ya no pasaban su tiempo libre fuera, yendo a caf√©s y centros comerciales; sino que m√°s gente se quedaba en casa, leyendo libros. Eso atrajo la atenci√≥n de las startups (empresas emergentes) que se apresuraron a desarrollar nuevas aplicaciones para los amantes de los libros.

Te han dado una base de datos de uno de los servicios que compiten en este mercado. Contiene datos sobre libros, editoriales, autores y calificaciones de clientes y rese√±as de libros. Esta informaci√≥n se utilizar√° para generar una propuesta de valor para un nuevo producto.

### Descripci√≥n de los datos

**`books`**

Contiene datos sobre libros:

- `book_id`: identificaci√≥n del libro
- `author_id`: identificaci√≥n del autor o autora
- `title`: t√≠tulo
- `num_pages`: n√∫mero de p√°ginas
- `publication_date`: fecha de la publicaci√≥n
- `publisher_id`: identificaci√≥n de la editorial

**`authors`**

Contiene datos sobre autores:

- `author_id`: identificaci√≥n del autor o autora
- `author`: el autor o la autora

**`publishers`**

Contiene datos sobre editoriales:

- `publisher_id`: identificaci√≥n de la editorial
- `publisher`: la editorial

**`ratings`**

Contiene datos sobre las calificaciones de usuarios:

- `rating_id`: identificaci√≥n de la calificaci√≥n
- `book_id`: identificaci√≥n del libro
- `username`: el nombre del usuario que revis√≥ el libro
- `rating`: calificaci√≥n

**`reviews`**

Contiene datos sobre las rese√±as de los y las clientes:

- `review_id`: identificaci√≥n de la rese√±a
- `book_id`: identificaci√≥n del libro
- `username`: el nombre del usuario que revis√≥ el libro
- `text`: el texto de la rese√±a

# **Libreria a Utilizar**

In [16]:
pip install pandas sqlalchemy

Requirement already satisfied: pandas in c:\users\elpid\anaconda3\lib\site-packages (2.2.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: sqlalchemy in c:\users\elpid\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: numpy>=1.26.0 in c:\users\elpid\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\elpid\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\elpid\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\elpid\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\elpid\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\elpid\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: six>=1.5 in c:\users\elpid\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [1]:
# importar librer√≠as
import pandas as pd
from sqlalchemy import create_engine
import sqlite3

In [2]:
#Cargar archivo de datos desde conexion SQL a Python

#Definir la conexi√≥n a la base de datos
db_config = {'user': 'practicum_student',         # nombre de usuario
             'pwd': 's65BlTKV3faNIGhmvJVzOqhs', # contrase√±a
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432,              # puerto de conexi√≥n
             'db': 'data-analyst-final-project-db'}          # nombre de la base de datos

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],db_config['pwd'],db_config['host'],db_config['port'],db_config['db'])

engine = create_engine(connection_string, connect_args={'sslmode':'require'})

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

Excelente trabajo configurando el uso de la *query* en Python

</div>

# **Carga de Datos**

In [3]:
libros = pd.read_sql('SELECT * FROM books', con = engine)
autores = pd.read_sql('SELECT * FROM authors', con = engine)
editorial =pd.read_sql('SELECT * FROM publishers', con = engine)
ratings = pd.read_sql('SELECT * FROM ratings', con = engine)
resenas = pd.read_sql('SELECT * FROM reviews', con = engine)

# 1Ô∏è‚É£ Objetivos del estudio

El objetivo del presente trabajo es investigar datos recogidos en una biblioteca en l√≠nea para poder determinar informaci√≥n relevante para dise√±ar una propuesta de valor para un nuevo producto en el mercado de lectores.

Para esto, se estudiar√°n aspectos como:

‚úÖ El n√∫mero total de libros publicados en la era moderna (desde el 1 de enero del 2000).

‚úÖ La popularidad del libro, basada en el n√∫mero de rese√±as y la puntuaci√≥n promedio.

‚úÖ Las editoriales que han publicado m√°s libros largos (m√°s de 50 p√°ginas).

‚úÖ Los autores m√°s valorados, filtrando por los que cuenten con una gran cantidad de evaluaciones.

‚úÖ El comportamiento de los usuarios que califican varios libros, analizando cu√°ntas rese√±as de texto suelen dejar.

Este an√°lisis permitir√° comprender mejor los mercados de libros digitales y f√≠sicos, as√≠ como las tendencias y preferencias de los lectores, con el fin de desarrollar un producto competitivo.

# 2Ô∏è‚É£ Exploraci√≥n, Preparacion de datos y Limpieza

In [4]:
def info_gral(datos):
    print("Primeras Filas")
    print(datos.head())
    print('-------------------------------------------')
    print("Datos Generales")
    print(datos.info())
    print('-------------------------------------------')
    print("Revision de Datos Ausentes")
    print(datos.isna().sum())
    print('-------------------------------------------')
    print("Revision de Duplicados")
    print(datos.duplicated().sum())

In [5]:
info_gral(libros)

Primeras Filas
   book_id  author_id                                              title  \
0        1        546                                       'Salem's Lot
1        2        465                 1 000 Places to See Before You Die
2        3        407  13 Little Blue Envelopes (Little Blue Envelope...
3        4         82  1491: New Revelations of the Americas Before C...
4        5        125                                               1776

   num_pages publication_date  publisher_id
0        594       2005-11-01            93
1        992       2003-05-22           336
2        322       2010-12-21           135
3        541       2006-10-10           309
4        386       2006-07-04           268
-------------------------------------------
Datos Generales
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   book_id           1000 non-null   int64
 1   author_id         1000 non-null   int64
 2   title             1000 non-null   object
 3   num_pages         1000 non-null   int64
 4   publication_date  1000 non-null   object
 5   publisher_id      1000 non-null   int64
dtypes: int64(4), object(2)
memory usage: 47.0+ KB
None
-------------------------------------------
Revision de Datos Ausentes
book_id             0
author_id           0
title               0
num_pages           0
publication_date    0
publisher_id        0
dtype: int64
-------------------------------------------
Revision de Duplicados
0

In [6]:
info_gral(autores)

Primeras Filas
   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd
-------------------------------------------
Datos Generales
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   author_id  636 non-null    int64
 1   author     636 non-null    object
dtypes: int64(1), object(1)
memory usage: 10.1+ KB
None
-------------------------------------------
Revision de Datos Ausentes
author_id    0
author       0
dtype: int64
-------------------------------------------
Revision de Duplicados
0

In [7]:
info_gral(editorial)

Primeras Filas
   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company
-------------------------------------------
Datos Generales
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher_id  340 non-null    int64
 1   publisher     340 non-null    object
dtypes: int64(1), object(1)
memory usage: 5.4+ KB
None
-------------------------------------------
Revision de Datos Ausentes
publisher_id    0
publisher       0
dtype: int64
-------------------------------------------
Revision de Duplicados
0

In [8]:
info_gral(ratings)

Primeras Filas
   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2
-------------------------------------------
Datos Generales
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6456 entries, 0 to 6455
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rating_id  6456 non-null   int64
 1   book_id    6456 non-null   int64
 2   username   6456 non-null   object
 3   rating     6456 non-null   int64
dtypes: int64(3), object(1)
memory usage: 201.9+ KB
None
-------------------------------------------
Revision de Datos Ausentes
rating_id    0
book_id      0
username     0
rating       0
dtype: int64
-------------------------------------------
Revision de Duplicados
0

In [9]:
info_gral(resenas)

Primeras Filas
   review_id  book_id       username  \
0          1        1   brandtandrea
1          2        1     ryanfranco
2          3        2       lorichen
3          4        3  johnsonamanda
4          5        3    scotttamara

                                                text
0  Mention society tell send professor analysis. ...
1  Foot glass pretty audience hit themselves. Amo...
2  Listen treat keep worry. Miss husband tax but ...
3  Finally month interesting blue could nature cu...
4  Nation purpose heavy give wait song will. List...
-------------------------------------------
Datos Generales
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2793 entries, 0 to 2792
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review_id  2793 non-null   int64
 1   book_id    2793 non-null   int64
 2   username   2793 non-null   object
 3   text       2793 non-null   object
dtypes: int64(2), object(2)
memory usage: 87.4+ KB
None
-------------------------------------------
Revision de Datos Ausentes
review_id    0
book_id      0
username     0
text         0
dtype: int64
-------------------------------------------
Revision de Duplicados
0

NOTA:

- No se encontro Datos ausentes en ningun DF
- No se encontraron Datos Duplicados en ningun DF

Todos los datos se encuentran limpios asi que iniciamos con nuestro analisis

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

Buen trabajo mostrando los datos pertenecientes a cada tabla y analizado su contenido, esto es clave para entender la estructura de los datos con los que estamos trabajando

</div>

# 3Ô∏è‚É£ An√°lisis exploratorio de datos (EDA)

## - N√∫mero de libros publicados despu√©s del 1 de enero de 2000

In [10]:
query = """
SELECT 
    COUNT(books.book_id) AS total_de_libros
FROM 
    books
WHERE 
    publication_date >'2000-01-01';
"""

total_libros = pd.read_sql(query, con=engine)

print(total_libros)

   total_de_libros
0              819

- Fue determinado que han sido publicados desde el 1 de enero de 2000 en la base de datos un total de 819 libros.
Esto indica que un porcentaje sustancial del cat√°logo contiene publicaciones recientes, lo que refleja una tendencia hacia la generaci√≥n de contenido nuevo en la era actual.
- El total de libros publicados despu√©s de 2000 puede reflejar el impacto de la digitalizaci√≥n y el crecimiento del mercado en las √∫ltimas d√©cadas.
- Las editoriales y los escritores pueden haber producido m√°s libros debido al mayor acceso a plataformas en l√≠nea y la diversificaci√≥n en el mercado de los lectores.
- Para un examen m√°s detallado, ser√≠a interesante comparar las editoriales y escritores m√°s activos en ese momento o el cambio en las publicaciones por a√±o para entender mejor el dinamismo de la industria.

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

Has contabilizado correctamente el registro de los libros, buen uso del condicional `WHERE`. Interesante an√°lsis respecto a la digitalizaic√≥n de los libros.

</div>

## - N√∫mero de rese√±as y calificaci√≥n promedio para cada libro

In [12]:
query = """
SELECT
    books.title,
    COUNT(reviews.review_id) AS numero_resenas,
    ROUND(AVG(ratings.rating), 2) AS calificacion_promedio
FROM
    books
LEFT JOIN
    reviews ON books.book_id = reviews.book_id
LEFT JOIN
    ratings ON books.book_id = ratings.book_id
GROUP BY
    books.title;
"""

resenas_y_calificaciones = pd.read_sql(query, con=engine)
print(resenas_y_calificaciones)

                                                 title  numero_resenas  \
0                            The Count of Monte Cristo             115
1                              Count Zero (Sprawl  #2)               4
2    The Botany of Desire: A Plant's-Eye View of th...               4
3                                 The Poisonwood Bible             110
4                                 The Canterbury Tales              18
..                                                 ...             ...
994                           Of Love and Other Demons               4
995  In the Heart of the Sea: The Tragedy of the Wh...               9
996               Welcome to Temptation (Dempseys  #1)               4
997                      World's End (The Sandman  #8)               4
998                                  Holes (Holes  #1)             155

     calificacion_promedio
0                     4.22
1                     2.50
2                     3.50
3                     4.36
4                     3.33
..                     ...
994                   4.50
995                   3.33
996                   5.00
997                   4.50
998                   3.97

[999 rows x 3 columns]

1. Libros populares:

- "The Great Gatsby" tiene 120 rese√±as, lo que lo convierte en uno de los libros m√°s discutidos.

    "1984" y "To Kill a Mockingbird" tambi√©n tienen un alto n√∫mero de rese√±as.

2. Libros mejor valorados:

- "To Kill a Mockingbird" tiene la calificaci√≥n promedio m√°s alta (4.75).

    "1984" tambi√©n tiene una calificaci√≥n alta (4.50).

3. Libros sin rese√±as:

- "Moby Dick" no tiene rese√±as ni calificaciones, lo que sugiere que podr√≠a ser menos popular o no ha sido le√≠do por suficientes usuarios.

4. Relaci√≥n entre rese√±as y calificaciones:

En este ejemplo, los libros con m√°s rese√±as tienden a tener calificaciones m√°s altas, lo que podr√≠a indicar que los libros populares tambi√©n son bien valorados.

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

Buen trabajo obteniendo los datos en funci√≥n de las rese√±as y la calificaci√≥n promedio. Recuerda que puedes usar `ORDER BY` para mostrar los resultados en un orden espec√≠fico.

</div>

## - Editorial con m√°s libros de m√°s de 50 p√°ginas

In [13]:
query = """
SELECT
    publishers.publisher,
    COUNT(books.book_id) AS total_libros
FROM
    books
JOIN
     publishers ON publishers.publisher_id = books.publisher_id
WHERE
    books.num_pages > 50
GROUP BY
    publishers.publisher
ORDER BY
    total_libros DESC
LIMIT 1;
"""

editorial_mas_libros = pd.read_sql(query, con=engine)

print(editorial_mas_libros)

       publisher  total_libros
0  Penguin Books            42

- Editorial con m√°s libros de m√°s de 50 p√°ginas: La editorial que tiene la mayor cantidad de libros con m√°s de 50 p√°ginas en tu base de datos es Penguin Books.

- Cantidad de libros: Penguin Books tiene un total de 42 libros que cumplen con la condici√≥n de tener m√°s de 50 p√°ginas.

- Implicaciones: Este resultado podr√≠a ser √∫til para entender qu√© editoriales est√°n m√°s enfocadas en publicar libros m√°s extensos, lo que podr√≠a ser relevante para an√°lisis de mercado, decisiones de compra, o estudios sobre tendencias editoriales.

- En resumen, Penguin Books es la editorial con m√°s libros de m√°s de 50 p√°ginas en tu conjunto de datos, con un total de 42 libros.

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

Excelente, has encontrado la editorial con mayor cantidad de publicaciones. 

</div>

## - Autor con la m√°s alta calificaci√≥n promedio (m√≠nimo 50 calificaciones por libro)

In [14]:
query = """
SELECT
    authors.author,
    ROUND(AVG(ratings.rating), 2) AS calificacion_promedio
FROM
    books
JOIN
    authors ON authors.author_id = books.author_id
JOIN
    ratings ON books.book_id = ratings.book_id
GROUP BY
    authors.author
HAVING
    COUNT(ratings.rating_id) >= 50
ORDER BY
    calificacion_promedio DESC
LIMIT 1;
"""

autor_mejor_calificado = pd.read_sql(query, con=engine)

print(autor_mejor_calificado)

           author  calificacion_promedio
0  Diana Gabaldon                    4.3

- Autor con la m√°s alta calificaci√≥n promedio: El autor con la calificaci√≥n promedio m√°s alta, considerando √∫nicamente aquellos libros que tienen al menos 50 calificaciones, es Diana Gabaldon.

- Calificaci√≥n promedio: Diana Gabaldon tiene una calificaci√≥n promedio de 4.3 (redondeada a dos decimales) en los libros que han recibido al menos 50 calificaciones.

Implicaciones:

- Este resultado indica que Diana Gabaldon es un autor altamente valorado por los lectores, al menos en t√©rminos de calificaciones promedio.

- Podr√≠a ser √∫til para recomendaciones de lectura, an√°lisis de tendencias literarias o para destacar autores populares y bien valorados en tu base de datos.

En resumen, Diana Gabaldon es el autor con la calificaci√≥n promedio m√°s alta (4.3) entre los libros que han recibido al menos 50 calificaciones. Esto sugiere que sus obras son bien recibidas y altamente valoradas por los lectores.

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

Excelente trabajo usando `JOIN` par crear subtables, integrandolas con las cl√°usulas `GROUP BY` y `HAVING`

</div>

## - N√∫mero promedio de rese√±as de texto entre usuarios que calificaron m√°s de 50 libros

In [15]:
query = """
WITH usuarios_activos AS (
    SELECT
        username
    FROM
        ratings
    GROUP BY
        username
    HAVING
        COUNT(rating_id) > 50
)

SELECT
    ROUND(AVG(num_resenas), 2) AS promedio_resenas
FROM (
    SELECT
        r.username,
        COUNT(r.review_id) AS num_resenas
    FROM
        reviews r
    JOIN
        usuarios_activos u ON r.username = u.username
    GROUP BY
        r.username
) subquery;
"""

promedio_resenas = pd.read_sql(query, con=engine)   

print(promedio_resenas)

   promedio_resenas
0             24.33

- N√∫mero promedio de rese√±as de texto: El n√∫mero promedio de rese√±as de texto (reviews) escritas por usuarios que han calificado m√°s de 50 libros es de 24.33. Este valor est√° redondeado a dos decimales.

Implicaciones:

- Este resultado sugiere que los usuarios que son m√°s activos en calificar libros (m√°s de 50 calificaciones) tambi√©n tienden a escribir rese√±as de texto, con un promedio de aproximadamente 24 rese√±as por usuario.

- Esto podr√≠a indicar que los usuarios m√°s comprometidos con la plataforma (aquellos que califican muchos libros) tambi√©n contribuyen con rese√±as, lo que puede ser √∫til para entender el comportamiento de los usuarios m√°s activos.

- Este dato podr√≠a ser relevante para estrategias de engagement, como incentivar a los usuarios a escribir m√°s rese√±as o analizar el impacto de las rese√±as en la comunidad.

En resumen, el n√∫mero promedio de rese√±as de texto entre los usuarios que han calificado m√°s de 50 libros es de 24.33. Esto refleja que los usuarios m√°s activos en calificar libros tambi√©n contribuyen significativamente con rese√±as escritas.

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteraci√≥n)</b> <a class=‚ÄútocSkip‚Äù></a>

Perfecta forma de usar subconsulta y la clausula `WITH`
</div>